{% extends 'base.html' %} {% block content %}
{% if user.is_authenticated %}
<section id="links" class="bg-primary">
  <br>
  <h3 class="text-center">You are a {{user.admin_type}}. Here are your links,</h3>
  <div class="row">
    <div class="col-md-10 m-5 mx-auto">
      <div class="card bg-dark">
        <div class="card-body">
          <table class="table text-light">
            <thead>
              <tr>
                <th class="text-center" scope="col">Links</th>
              </tr>
            </thead>
            <tbody>
              {% for object in object_list %}
              <tr>
                <td class="text-center" scope="row">
                  <a href="{{ object.link_address }}">{{ object.link_address }}</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% else %}
<section id="links" class="bg-primary">
  <div class="row">
    <div class="col-lg-10 m-5 mx-auto">
      <div class="col-lg-10 m-5 mx-auto">
        <div class="card bg-info text-center p-4">
          <p class="lead text-light"><a href="{% url 'login' %}" class="text-light">
            Please log in here to view your links.</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endblock content %}